In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [12]:
def standardize_string(inp):
    lower = str(inp).lower()
    no_spaces = lower.replace(' ', '')
    expand = no_spaces.replace('str.', 'strasse')
    return expand

In [20]:
df_gwr = pd.read_csv('merged_new_cols.csv')
del df_gwr['price']
del df_gwr['Unnamed: 0']
df_price = pd.read_csv('data/newhome_scrape.csv', index_col=0)
df_additional_price = pd.read_csv('data/price-monitoring-extended.csv')

In [21]:
df_gwr['street'] = df_gwr.apply(lambda row: row['street_name'] + ' ' + row['street_number'], axis=1)
df_gwr['street'] = df_gwr['street'].apply(standardize_string)
df_gwr['rooms'] = df_gwr['num_rooms']

In [22]:
df_price.loc[df_price['floor'].isna(), 'floor'] = 1
df_price['rooms'] = df_price['rooms'].map(lambda x: int(x) if not np.isnan(x) else 0)
df_price['street'] = df_price['street'].apply(standardize_string)

In [23]:
df_additional_price = df_additional_price[~pd.isna(df_additional_price['floor'])]
df_additional_price['floor'] = df_additional_price['floor'].apply(lambda x: 1 if x == 'GF' else int(x) + 1)
df_additional_price['street'] = df_additional_price['street_number'].apply(standardize_string)
df_additional_price['rooms'] = df_additional_price['rent'] / df_additional_price['price_per_room']
df_additional_price['price'] = df_additional_price['rent']

In [24]:
matched = df_gwr.merge(df_price[['street', 'price', 'floor', 'rooms', 'livingArea']], on=['street', 'floor', 'rooms'], how='left')

In [26]:
new_merged = pd.merge(matched, df_additional_price, on=['street', 'floor', 'rooms'], how='left')
new_merged.to_csv('data/final_data_v1.csv', index=False)

,field_1,coord_x,coord_y,city_x,canton,year,street_name,street_number_x,multiple_floors,num_rooms,...,COMM_USE_D,EXP_LIM_D,EXP_LIM_N,EXP_LIM,noise_below,quartier_nummer,quartier_kreis,quartier_quartiergr,quartier_statistisc,price_y
0,0,2747136.1,1256043.3,St. Gallen,SG,1965.0,Unterer Hompeliweg,4,0.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2745364.3,1254156.2,St. Gallen,SG,1918.0,Rosenbergstrasse,91,0.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2748011.7,1255777.0,St. Gallen,SG,1993.0,Lindenstrasse,126,0.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2746893.3,1254690.5,St. Gallen,SG,1919.0,Konkordiastrasse,34,0.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2745703.6,1252892.3,St. Gallen,SG,2009.0,Wattstrasse,13,0.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45222,44940,2746823.3,1254909.0,St. Gallen,SG,1950.0,Volksbadstrasse,8,0.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45223,44941,2745070.9,1254587.6,St. Gallen,SG,1964.0,Schorenstrasse,50,0.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45224,44942,2745008.3,1253419.7,St. Gallen,SG,1918.0,Vonwilstrasse,5,0.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45225,44943,2745799.0,1253988.6,St. Gallen,SG,1953.0,Teufener Strasse,12,0.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45226,44944,2742985.5,1253133.7,St. Gallen,SG,2014.0,Ullmannstrasse,15,0.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
plt.scatter(matched['area'], matched['livingArea'], color=(0, 0, 0, 0.2))

In [ ]:
del matched['rooms']
del matched['street']
del matched['livingArea']

In [ ]:
matched.sample(frac=1).to_csv('data/merged.csv', index=False)